@keyframes girar {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

p:before {
	font-size: 150px;
	animation-name: girar;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.dos p:before {
	font-size: 250px;
}

.tres p:before {
	position: absolute;
	left: 80px;
	top: 210px;
	font-size: 120px;
	animation-direction: reverse;
}

.cuatro p:before {
	position: absolute;
	left: 270px;
	top: 190px;
	font-size: 180px;
	animation-direction: reverse;
}